<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moonlit.generator.mapper.GenConfigMapper">

    <select id="getConfigByType" resultType="com.moonlit.generator.entity.GenConfig">
        SELECT * FROM `gen_config` WHERE type = 1 LIMIT 1
    </select>
</mapper>