<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moonlit.generator.generator.mapper.GenTableMapper">

    <select id="selectTableNames" resultType="java.lang.String">
        select table_name
        from gen_table
        where database_id = #{databaseId}
    </select>

    <select id="getTableData" resultType="com.moonlit.generator.generator.entity.bo.TableConfigAndDataAndColumnsBO">
        SELECT gtc.id           AS tableConfigId,
               gtc.author       AS author,
               gtc.package_name AS packageName,
               gtc.module_name  AS moduleName,
               gt.table_comment AS tableComment,
               (CASE gtc.remove_prefix
                    WHEN 1 THEN
                        REPLACE(gt.object_name, gtc.table_prefix, '')
                    ELSE
                        gt.object_name
                   END
                   )            AS objectName,
               gt.business_name AS businessName,
               gt.function_name AS functionName
        FROM `gen_table` gt
                 INNER JOIN `gen_table_config` gtc
        WHERE gt.id = #{tableId}
          AND gtc.id = #{tableConfigId}
    </select>
</mapper>