<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moonlit.generator.generator.mapper.GenTemplateCollectionMapper">

    <select id="getCollectionName" resultType="com.moonlit.generator.generator.entity.vo.CollectionVO">
        SELECT id, name
        FROM gen_template_collection
    </select>

    <select id="getTemplateCollection" resultType="com.moonlit.generator.generator.entity.vo.TemplateCollectionVO">
        SELECT gtc.id,
               gtc.name,
               GROUP_CONCAT(CONCAT(tc.`name`, '.', tc.`suffix_name`) SEPARATOR '、 ') AS templateName
        FROM gen_template_collection gtc
                 JOIN gen_template_config tc ON tc.collection_id = gtc.id
        WHERE gtc.state = 1
          AND tc.state = 1
        GROUP BY tc.collection_id
    </select>

</mapper>